/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* common styles */
* {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    height: 100%;
    width: 100%;
}

.primary-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.discription {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    border: none;
    width: 180px;
    height: 64px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
}

/* header styles */
.header {
    background: rgba(255, 144, 14, 0.1);
}

.container {
    margin: 0 240px;
    margin-bottom: 85px;
}

/* Navbar Styles */
.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    margin-bottom: 102px;
}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.nav-items {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 4em;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner styles */
.banner {
    text-align: center;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 50px;
}

.banner-img {
    width: 100%;
    background-position: center;
    padding-bottom: 45px;
}

/* Main styles */

/* feature styles */
.features {
    display: flex;
    margin: 0 301px;
    gap: 73px;
    align-items: center;
    margin-bottom: 130px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    width: 100%;
}

.feature-title {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.ftc-1 {
    color: #727272;
    font-weight: 500;
}

.ftc-2 {
    color: #131313;
}

/* enjoy-styles */
.enjoy-container {
    margin: 0 240px;
    display: flex;
    gap: 54px;
}

.love-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.enjoy-box {
    padding: 30px 42px 30px 30px;
    background-color: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    /* height: 132px; */
    margin-bottom: 20px;
}

.enjoy-box-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.enjoy-box-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* .enjoy-img {
    display: flex;
    flex-direction: column;
} */

.enjoy-img img {
    padding-left: 92px;
}

.btn-experience {
    font-weight: 700;
    font-size: 65px;
    width: 342px;
    height: 200px;
    border-radius: 8px;
    padding: 46px 42px 45px 42px;
    position: relative;
    bottom: 125px;
}

.experience {
    font-weight: 500;
    font-size: 25px;
}

/* Some-fact styles */

.somefact {
    margin: 0 240px;
}

#somefact-paragraph {
    margin-bottom: 68px;
}

.somefact-boxs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}

.somefact-box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.somefact-icon {
    width: 45.22px;
    height: 45.22px;
    margin-bottom: 10px;
}

.somefact-box-title {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-bottom: 5px;
}

.somefact-box-text {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.somefact-box:hover {
    transform: scale(.8);
    background-color: rgba(255, 144, 14, 0.1);
    border: none;
    transition: transform .3s ease-in-out;
}

/*project styles */
.project-container {
    margin: 0 240px;
    margin-bottom: 180px;
}

.project-text {
    text-align: center;
    margin-bottom: 70px;
}

.project-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.project-images img {
    width: 100%;
}

/* Sponsor Styles */
.Sponsor-container {
    margin: 0 240px;
    margin-bottom: 130px;
}

.Sponsor-text {
    text-align: center;
}

.sponsor-discription {
    margin-bottom: 50px;
}

.Sponsor-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer-styles */
.footer {
    margin: 0 240px 216px;
    padding: 38px 410px;
    background: rgba(255, 144, 14, 0.1);
}

.footer-text {
    color: #424242;
    text-align: center;
}